<div class="container">
    <h3>Найбільший Автомобіль</h3>
    <img src="{{carPhoto}}" alt="">
    <p>під машиною ми будемо розуміти гірський комбайн Bagger 288. Цей по-справжньому страшний монстр видобуває 240 000 тонн вугілля на добу 8-O . Довжина 240 метрів, ширина – 40 метрів (як 2 футбольних поля), висота – 96 метрів. Цей ескалатор був побудований ще в 1978 році німецькою компанією для фірми Rheinbraun.

        Ця махіна може розвивати швидкість до 0.6 км / год і це при вазі в 13 500 тонн. Для управління цією машиною знадобиться екіпаж з 4х чоловік. Розробка Bagger 288 зайняла 5 років і вартість машини склала близько $ 100 млн. Цей красень безперечно може називатися найбільшою машиною в світі.</p>
</div>

