<div class="hobby-wrap">
    <h1 class="main-h1">Bill Gates Hobby</h1>
    <div class="hobby-img">
        <img src="../../assets/Bill_Holding_Book.jpg" alt="">
        <img src="../../assets/library.webp" alt="">
    </div>
    <div class="hobby-text">
        <h1>Reading</h1>
        <p> Bill Gates is an avid reader, averaging one book a week. On vacation, he carries half a library with him.

            His main reason for reading: “keep learning”. Whether you’re reading a voluminous biography, a scholarly work, a truthful novel, or a blog like this one: anything you can learn from, no matter how small or how big, makes you a richer person. In Gates’ case, you can’t take that more literally.</p>
    </div>
</div>
