    <div class="respons-text">
        <h1>Навички:</h1>
        <ul>
            <li>{{ skill1 }} - {{veryGood}}</li>
            <li>{{ skill2 }} - {{veryGood}}</li>
            <li>{{ skill3 }} - {{good}}</li>
        </ul>
            <h1>Інтереси</h1>
            <ul>
                <li>{{ interes1 }}</li>
                <li>{{ interes2 }}</li>
                <li>{{ interes3 }}</li>
            </ul>
            <h1>Сертифікати</h1>
            <ul>
                <li>{{ certificate }} - {{yearCertificate}} року</li>
            </ul>
    </div>
