<div class="resume-wrap">
    <div class="main-info">
        <div class="resume-text">
            <h1>Моє резюме:</h1>
            <ul>
                <li>ПІБ: {{ name }}</li>
                <li>Телефон:{{ phone }}</li>
                <li>Email: {{ email }}</li>
                <li>Місто проживання: {{ home }}</li>
                <li>Бажана зарплата: {{ payment | currency}}</li>
                <li>Повнота данних в резюме:{{ apply | percent}}</li>   
            </ul>
        </div>
        <img src="{{photo}}" alt="">
        <div class="component-wrap">
            <app-skills></app-skills>
        </div>
        <div class="component-wrap">
            <app-experience></app-experience>
        </div>
        <div class="links">
            <a href="gitHub">GitHub</a><a href="Linkedln">Linkedln</a><a href="Twitter">Twitter</a>
        </div>
    </div>
</div>


